{% extends "base.html.twig" %}


{% block title %}page d'inscription{% endblock %}

{% block body %}
    <h1>Page d'inscription</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit">créer un profil client</button>
    </div>
    {{ form_end(form) }}
{% endblock %}