body{
  font-family: sans-serif;
}
.container{
  margin: 0 auto;
  width: 1200px;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  /* 1fr  fraction = 1200 / 2 - 20 => 580px  */
  grid-gap: 20px;
}
img{
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
h1{
  grid-column: 1/-1;
}

